* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #25282a;
}
.slider {
	position: relative;
	width: 100%;
	padding: 0 20px;
	max-width: 600px;
}
.slider__description {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	column-gap: 20%;
}
.slider__texts {
	display: flex;
	color: #fff;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	transition: all 0.5s;
}
.slider__text {
	width: 400px;
	transition: margin-left 200ms cubic-bezier(0.78, 0.92, 0.68, 0.86);
}
.slider__inner {
	width: 100%;
	overflow: hidden;
}
.slider__images {
	display: flex;
	width: 100%;
	transition: margin-left 200ms cubic-bezier(0.78, 0.92, 0.68, 0.86);
}
.slider__image {
	border-radius: 20px;
	height: 100%;
	max-height: 600px;
	width: 100%;
	transition: all 0.5s ease;
}
.slider__radio {
	display: none;
}
.slider__dots {
	display: flex;
	justify-content: flex-end;
}
.slider__label span {
	display: inline-block;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: #71abfe;
}
.slider__label {
   display: flex;
   justify-content: center;
   align-items: center;
	height: 20px;
	width: 20px;
	cursor: pointer;
	transition: all 0.15s ease;
	margin-left: 12px;
}
.slider__label span:hover {
	background-color: #fff;
}
#radioImg1:checked ~ .slider__description .slider__dots #label1 span {
	background-color: transparent;
	border: 2px solid #71abfe;
}
#radioImg2:checked ~ .slider__description .slider__dots #label2 span {
	background-color: transparent;
	border: 2px solid #71abfe;
}
#radioImg3:checked ~ .slider__description .slider__dots #label3 span {
	background-color: transparent;
	border: 2px solid #71abfe;
}
#radioImg4:checked ~ .slider__description .slider__dots #label4 span {
	background-color: transparent;
	border: 2px solid #71abfe;
}

#radioImg1:checked ~ .slider__images {
	margin-left: 0;
}
#radioImg2:checked ~ .slider__images {
	margin-left: -100%;
}
#radioImg3:checked ~ .slider__images {
	margin-left: -200%;
}
#radioImg4:checked ~ .slider__images {
	margin-left: -300%;
}

#radioImg1:checked
	~ .slider__description
	.slider__texts
	.slider__text-container
	.slider__text {
	margin-left: 0;
}
#radioImg2:checked
	~ .slider__description
	.slider__texts
	.slider__text-container
	.slider__text {
	margin-left: -100%;
}
#radioImg3:checked
	~ .slider__description
	.slider__texts
	.slider__text-container
	.slider__text {
	margin-left: -200%;
}
#radioImg4:checked
	~ .slider__description
	.slider__texts
	.slider__text-container
	.slider__text {
	margin-left: -300%;
}

@media (max-width: 410px) {
	.slider__description {
		flex-direction: column-reverse;
	}
	.slider__text {
		width: 400px;
	}
	.slider__description {
		margin-top: 20px;
		align-items: normal;
	}
	.slider__dots {
		margin-bottom: 15px;
		justify-content: center;
	}
}
